# clion stuff
/.idea
/cmake-build-*

# vscode
.vscode

# vim stuff
*.swp

# my build directory
/build
/build-*

# compile commands
compile_commands.json

# Vector Scatter temporaries
*-out.cpp
*-out.cu
