.ci-runner:
  tags:
    - cori
  variables:
    SCHEDULER_PARAMETERS:  "-C haswell -q regular -N 1"
    GIT_SUBMODULE_STRATEGY: normal

.common_script: &label
  - module swap PrgEnv-intel PrgEnv-gnu
  - module load cmake
  - module swap gcc gcc/8.3.0
  - module load cray-hdf5
  - export SLURM_CPU_BIND="cores"

stages:
  - build
  - test

configure_host:
    stage: build
    extends:
      - .ci-runner
    before_script:
      - *label
    script:
      - cmake -S . -B build 
      - cmake --build build --parallel
    artifacts:
      paths:
        - build/*

configure_mpi:
    stage: build
    extends:
      - .ci-runner
    before_script:
      - *label
      - module load cray-mpich
      - module swap cray-hdf5 cray-hdf5-parallel
      - export PE_CXX_PKGCONFIG_LIBS=hdf5_hl_cpp:hdf5_cpp
      - export PE_HDF5_CXX_PKGCONFIG_LIBS=hdf5_hl_cpp:hdf5_cpp
    script:
      - cmake -S . -B mpi_build -DENABLE_MPI=ON -DCMAKE_VERBOSE_MAKEFILE:BOOL=OFF
      - cmake --build mpi_build --parallel
    artifacts:
      paths:
        - mpi_build/*

configure_cuda:
    stage: build
    extends:
      - .ci-runner
    before_script:
      - *label
      - module load cgpu
      - module load cuda
    script:
      - cmake -S . -B cuda_build -DENABLE_CUDA=ON -DCMAKE_VERBOSE_MAKEFILE:BOOL=OFF
      - cmake --build cuda_build --parallel
    artifacts:
      paths:
        - cuda_build/*

host_execute:
    stage: test
    extends:
      - .ci-runner
    needs: [configure_host]
    variables:
      SCHEDULER_PARAMETERS: "-N 1 -q regular -C haswell -n 1 -c 1"
    before_script:
      - *label
    script:
      - cmake --build build --target test

mpi_execute:
    stage: test
    extends:
      - .ci-runner
    needs: [configure_mpi]
    variables:
      SCHEDULER_PARAMETERS: "-N 1 -q regular -C haswell -n 1 -c 1"
    before_script:
      - *label
    script:
      - srun mpi_build/bin/BoxTests
      - srun mpi_build/bin/BoxDataTests
      - srun mpi_build/bin/ReductionTests
      - srun mpi_build/bin/forAllTests
      - srun mpi_build/bin/InterpTests
      - srun mpi_build/bin/StencilTests

cuda_execute:
    stage: test
    extends:
      - .ci-runner
    needs: [configure_cuda]
    tags: [cori-esslurm]
    variables:
        SLURM_CONF: /etc/esslurm/slurm.conf
        SCHEDULER_PARAMETERS: "-M escori -q regular -N 1 -G 1 -C gpu"
    before_script:
      - *label
      - module load cgpu
      - module load cuda
    script:
      - cmake --build cuda_build --target test
