name: CMake

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  basic:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - name: Dependencies
      run: sudo apt-get install libhdf5-serial-dev
      
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/basic -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DENABLE_MPI=OFF -DAMR=OFF -DMMB=OFF -DOPS=ON

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/basic --config ${{env.BUILD_TYPE}} --parallel

    - name: Test
      # Execute tests defined by the CMake configuration. 
      run: cmake --build ${{github.workspace}}/basic --target test
      
  full:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - name: Dependencies
      run: sudo apt-get install libhdf5-serial-dev
      
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/full -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DENABLE_MPI=OFF -DAMR=ON -DMMB=ON -DOPS=ON

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/full --config ${{env.BUILD_TYPE}} --parallel

    - name: Test
      # Execute tests defined by the CMake configuration. 
      run: cmake --build ${{github.workspace}}/full --target test
